# Quotient Bot - Requirements
# Install: pip install -r requirements.txt

aerich
aiocache[msgpack]
aiohttp
aiohttp-asgi
aiosignal
aiosqlite
anyio
async-timeout
asyncpg
attrs
bidict
cachetools
cffi
charset-normalizer
click
colorama
dateparser
dictdiffer
discord.py
fastapi
frozenlist
humanize
idna
imagehash
import-expression
iso8601
jinja2
jishaku
markupsafe
msgpack
multidict
numpy
parsedatetime
pillow
prettytable
pycparser
pydantic
pypika-tortoise
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
pytz
pywavelets
regex
scipy
six
sniffio
starlette
tomlkit
tortoise-orm
typing-extensions
tzlocal
ujson
wcwidth
wavelink
yarl
